.edit-panel td {
    padding: 20px;
}
.edit-panel td:hover {
    background-color: #ffffff;
}
.slide-sky {
    background-color: #3bcbcb;
    color: #ffffff;
    padding: 20px;
}

.slot-space [class^="col-"] {
    background-color: #3dbebe;
    min-height: 40px;
    color: #ffffff;
    border: 1px #3bcbcb solid;
    height: 60px;
}

.slot-space :hover {
    background-color: #000000;
}

/* bootstrap offset first room */
.program-rooms:first-child {
    margin-left: 8.333333333333332%;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

tbody td {
    text-align: left;
}

.edit-panel td {
    background-color: #f5f5f5;
}
.edit-panel tr:hover {
    background-color: #f5f5f5;
}

.edit-panel {
    margin-left: 20px;
    margin-right: 20px;
}

.row > div {
    min-height: 40px;
}

.gridster > ul {
    background-color: #f5f5f5;
}

.gridster > ul > li {
    list-style: none;
    font-size: 9px;
    text-align: center;
    overflow: hidden;
}

.widget-not-draggable {
    background-color: inherit;
    background-color: #ffffff;
}

.row > .widget-not-draggable {
    height: 60px;
}

.room-columns {
    height: 40px;
}

.widget-booking {
    background-color: cadetblue;
    color: #ffffff;
    line-height: 120%
}

.widget-unassigned {
    background-color: #FF6300;
    color: #000000;
    line-height: 120%
}

.widget-program-item {
    background-color: cadetblue;
    color: #ffffff;
}

.program-item:hover {
    background-color: #FF6300;
    color: #ffffff;
}

.program-item {
  
}

.top-adjusted {
    margin-top: 20px;
}

.widget-program-column {
    background-color: #ffffff;
    padding-top: 18px;
}

.widget-program-row {
    background-color: #ffffff;
    padding-top: 18px;
}

.modal-body > p {
    max-width: 400px;
}
.modal-header > p {
    max-width: 400px;
}
.gridster > ul {
    padding-left: 5px;
}