<section>
    <div class="jumbotron">
        <div class="container">
            <h2>Program</h2>
            
            <div class="gridster">
                <ul>
                    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="widget-not-draggable"></li>
                    <!-- ko foreach: rooms -->
                    <li data-row="1" data-sizex="1" data-sizey="1" class="widget-not-draggable" data-bind="html: name, attr: {'data-col': slotIndex + 2}"></li>
                    <!-- /ko -->
                    
                    <!-- ko foreach: timeslots -->
                    <li data-col="1" data-sizex="1" data-sizey="1" class="widget-not-draggable" data-bind="html: $data.displayTime, attr: {'data-row': $index() + 2, 'data-timeslot-id': $data.id}"></li>
                    <!-- /ko -->
                </ul>
            </div> 
            
            <button data-bind="click: saveProgram">save</button>
        </div>
    </div>
    <div class="container">
        <h2>Godkjenning av talks</h2>
        
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Foredragsholder</th><th>Tittel</th><th>Beskrivelse</th><th>Nivå</th><th>Godkjenn</th>
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'sessionsTemplate', foreach: sessions, as: 'session' }">
            </tbody>
        </table>
        
        <h2>Registrer talk på vegne av noen</h2>
        <div class="container registrationWell well" data-bind="with: registrationInput">

            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-6" style="padding-left: 0">
                        <label>Lag ny bruker</label>
                        <input type="Text" placeholder="Navn" data-bind="value: newSpeaker, event: { change: newSpeaker_changed }, valueUpdate: 'afterkeydown'" class="form-control" />    
                    </div>
                    <div class="col-lg-6" style="padding-right: 0">
                        <label>Eller velg blant eksisterende</label>
                        <select data-bind="value: speakerId, foreach: $root.speakers" class="col-lg-4 form-control" id="selectSpeaker">
                            <!-- ko if: $index() === 0 -->
                                <option value="0"></option>
                            <!-- /ko -->
                            <option data-bind="html: name, value: id"></option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only">Tile</label>
                    <input type="Text" placeholder="Tittel" data-bind="value: title" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="sr-only">Description</label>
                    <textarea class="form-control" placeholder="Beskrivelse" data-bind="value: description" />
                </div>
                <div class="form-group">
                    <label class="sr-only">Level</label>
                    <select data-bind="options:$root.levels, value:level" class="col-lg-4 form-control" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" data-bind="click: registerSession">Legg til foredrag</button>
                </div>
            </form>

        </div>

    </div>
    
    <script type="text/html" id="sessionsTemplate">
        <tr>
            <td data-bind="text: $data.speaker"></td>
            <td data-bind="text: $data.title"></td>
            <td data-bind="text: $data.description"></td>
            <td data-bind="text: $data.level"></td>
            <td data-bind="click: $root.acceptSession">
                <button name="includeicon" type="button" class="btn" value="1" data-bind="css: {'btn-success': $data.isPublic()}, click: $root.activateSession">
                    <i class="icon-ok icon-white"></i>
                </button>
                <button name="includeicon" type="button" class="btn" value="0" data-bind="css: {'btn-danger': !$data.isPublic()}, click: $root.deactivateSession">
                    <i class="icon-remove"></i>
                </button>
            </td>
        </tr>
    </script>
</section>

