<section>
    <div class="jumbotron">
        <div class="container">
            <h1 data-bind="html: displayName"></h1>
        </div>
    </div>
    <div class="container" id="eventProgram">
        <div class="gridster">
            <ul>
                <li style="width: 100%">
                    <h1>Dag 1</h1>
                    <!-- rooms -->
                    <div class="row">
                        <div class="col-md-1"></div> 
                        <div data-bind="foreach: rooms">
                            <div class="col-md-1 widget-not-draggable" data-bind="html: name"></div>  
                        </div>
                    </div>
                    
                    <!-- timeslots X sessions -->
                    <div data-bind="foreach:program">
                        <div class="row">
                            <div class="col-md-1 widget-not-draggable room-columns" data-bind="html: displayTime"></div>
                            <div data-bind="foreach:$data.bookings" class="slot-space">
                                <div class="col-md-1 widget-program-item" data-bind="html: session.title, click: $root.showFullInformation, css: $root.gridOffset($parent.bookings, $index)"></div>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</section>