<section>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>SmallOne registrering</h1>
            <form role="form" class="form-inline">
                <div class="form-group">
                    <label for="speakerInput" class="sr-only">Speaker Name</label>
                    <input type="text" placeholder="Skriv navnet ditt her" id="speakerInput" class="form-control" data-bind="value: speaker" />
                    <button class="btn btn-primary" type="submit" data-bind="click: registerSpeaker">Start registrering</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container" data-bind="visible: speakerRegistered()">
        <!--ko with: registrationInput-->
       <form role="form" class="form-horizontal">
           <div class="form-group"><strong data-bind="text: 'Register foredrag for ' + speaker()"></strong></div>
           <div class="form-group">
                <label class="sr-only">Tile</label>
                <input type="Text" placeholder="Tittel" data-bind="value: title" class="form-control" />
            </div>
            <div class="form-group">
                <label class="sr-only">Description</label>
                <textarea class="form-control" placeholder="beskrivelse" data-bind="value: description" />
            </div>
            <div class="form-group">
                <label class="sr-only">Level</label>
                <input type="Text" placeholder="nivå" data-bind="value: level" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" data-bind="click: $parent.registerSession">Legg til foredrag</button>
            </div>
        </form>
        <!--/ko-->
    </div>
    <div class="container">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                <th>Foredragsholder</th><th>Tittel</th><th>Beskrivelse</th><th>Nivå</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:sessions">
                <tr>
                    <td data-bind="text:speaker"></td>
                    <td data-bind="text:title"></td>
                    <td data-bind="text:description"></td>
                    <td data-bind="text:level"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
