<section>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>SmallOne registrering</h1>
            <form role="form" class="form-inline">
                <div class="form-group">
                    <label for="speakerInput" class="sr-only">Speaker Name</label>
                    <input type="text" placeholder="Skriv navnet ditt her" id="speakerInput" class="input-lg form-control" data-bind="value: speaker" />
                    <button class="btn btn-primary speakerButton" type="submit" data-bind="click: registerSpeaker">Start registrering</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container registrationWell well" data-bind="visible: speakerRegistered()">
        <!--ko with: registrationInput-->
       <form role="form" class="form-horizontal">
           <div class="form-group"><strong data-bind="text: 'Registrer foredrag for ' + speaker()"></strong></div>
           <div class="form-group">
                <label class="sr-only">Tile</label>
                <input type="Text" placeholder="Tittel" data-bind="value: title" class="form-control" />
            </div>
            <div class="form-group">
                <label class="sr-only">Description</label>
                <textarea class="form-control" placeholder="Beskrivelse" data-bind="value: description" />
            </div>
            <div class="form-group">
                <label class="sr-only">Level</label>
                <select data-bind="options:$parent.levels, value:level" class="col-lg-4 form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" data-bind="click: $parent.registerSession">Legg til foredrag</button>
            </div>
        </form>
        <!--/ko-->
    </div>
    <div class="container">
        <div class ="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Foredragsholder</th><th>Tittel</th><th>Beskrivelse</th><th>Nivå</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:sessions">
                    <tr>
                        <td data-bind="text:speaker"></td>
                        <td data-bind="text:title"></td>
                        <td data-bind="text:description"></td>
                        <td data-bind="text:level"></td>
                        <td data-bind="visible:$parent.allowRemove($data)"><span data-bind="click:$parent.removeSession" class="glyphicon glyphicon-remove"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
