<div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="bouvetheader">
                    <img src="/Content/images/header_logo.png">
                    <div>One</div>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel()">
                    
                    <li data-bind="css: { active: isActive }, visible: $data.visible()">
                        <a data-bind="attr: { href: hash }, html: title"></a>
                    </li>
                    
                    <!-- ko if: ($index() === ($root.router.navigationModel().length - 1)) -->
                    <li>
                        <!-- ko if: $root.isAuthenticated() -->
                            <a data-bind="click: $root.logout" href="#">Logg ut</a>
                        <!-- /ko -->

                        <!-- ko ifnot: $root.isAuthenticated() -->
                            <a data-bind="click: $root.login" href="#">Logg inn</a>
                        <!-- /ko -->
                    </li>
                    <!-- /ko -->

                </ul>
                <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
                    <i class="icon-spinner icon-2x icon-spin icon-white"></i>
                </div>
            </div><!--/.navbar-collapse -->
        </div>
    </div>
    <div class="page-host" data-bind="router: { transition:'entrance'}"></div>
</div>
<script type="text/html">
    
</script>